.skills {
    opacity: 0;
    animation: fade-in-down 1.2s ease-in-out forwards 0.5s;
    transition: transform 0.3s ease, opacity 0.3s ease;

    .container {
        border-bottom: 1px solid var(--dynamic);

        .col {
            display: flex;
            justify-content: center;
        }

        .skillflexBox {
            display: flex;
            margin-bottom: 50px;
            width: 100px;
            height: 140px;
            text-align: center;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            box-shadow: var(--black-color) 0px 2px 4px 0px, var(--black-color) 0px 2px 16px 0px;
            animation: float-animation 4s ease-in-out 2.5s infinite;
            transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.4s ease-in-out;

            &.dark {
                background: linear-gradient(270deg, var(--black-color), #07031b, #005454);
            }

            &.light {
                background: linear-gradient(270deg, #fbc2eb, #fefcbf);
            }

            &:hover {
                box-shadow: var(--dynamic) 0px 0px 11px 0px, var(--dynamic) 0px 0px 11px 0px;
                border: 3px solid var(--dynamic);
                transition: transform 0.3s ease, box-shadow 0.3s ease;
            }

            img {
                height: 60px;
            }

            .textSkills {
                padding-top: 8px;
                font-size: 16px;
                color: var(--dynamic);
                font-family: 'cursive';
                text-align: center;
            }
        }
    }
}